{{ define "list-item" }}
<li class="item-list" data-name="{{ .Title }}" data-moddate="{{ .CreatedAt }}">

    <a href="/news/{{ .ID }}" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/{{ .ID }}"
        hx-trigger="click" onClick="showPreview(event)" class="preview-link" data-id="{{ .ID }}">
        {{ .Title }}
    </a>

    <span data-id="{{ .ID }}">
        {{ if .Done }}v{{ else }}—{{ end }}
    </span>

    <time datetime="{{ .CreatedAt }}">
        {{ .CreatedAt | formatDate }}
    </time>

    <a href="{{ .URL }}">
        {{ .ID }}
    </a>

</li>
{{ end }}