<!DOCTYPE html>
<html lang="en" data-theme="light"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main website</title>

    <link rel="stylesheet" href="style.css">     
    <link rel="icon" href="http://localhost:8888/static/favicon.ico" type="image/x-icon">

    <script src="htmx.min.js" defer="defer">
    </script>
    <script src="utils.js" defer="defer">
    </script>
        <script src="main.js" defer="defer">
    </script>

<style>      .htmx-indicator{opacity:0}      .htmx-request .htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}      .htmx-request.htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}      </style></head>
<body>

        <nav class="navbar">
            <button id="theme-toggle">☽</button>
        </nav>




<ul id="list-headers" class="file-list headers">
    <li>
        <span id="sort-name" data-sort-type="name" data-ascending="true">
            nazwa
        </span>
    </li>

    <li>
        <span id="sort-size" data-sort-type="size" data-ascending="true">
            kategoria
        </span>
    </li>
    <li>
        <span id="sort-date" data-sort-type="moddate" data-ascending="true">
            data
        </span>
    </li>
</ul>


{1 17 528 32 false true 0 2 {&lt;nil&gt; &lt;nil&gt;}}


<ol id="list" class="file-list" type="1">
    
    
<li class="item-list" data-name="Tragedia podczas nocnej orki. 24-latek zginął przygnieciony przez ciągnik" data-moddate="2026-08-21 14:14:10 +0000 UTC">

    <a href="http://localhost:8888/news/528" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/528" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Tragedia podczas nocnej orki. 24-latek zginął przygnieciony przez ciągnik
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 14:14:10 +0000 UTC">
        2026-08-21 14:14:10
    </time>
    
    <a href="https://www.rmf24.pl/regiony/lublin/news-tragedia-podczas-nocnej-orki-24-latek-zginal-przygnieciony-p,nIdn,1014628">
        528
    </a>

</li>

    
    
<li class="item-list" data-name="Niebezpieczne znalezisko na Dolnym Śląsku. Niewybuch w okolicy mostu" data-moddate="2026-08-21 14:14:10 +0000 UTC">

    <a href="http://localhost:8888/news/529" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/529" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Niebezpieczne znalezisko na Dolnym Śląsku. Niewybuch w okolicy mostu
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 14:14:10 +0000 UTC">
        2026-08-21 14:14:10
    </time>
    
    <a href="https://www.rmf24.pl/regiony/wroclaw/news-niebezpieczne-znalezisko-na-dolnym-slasku-niewybuch-w-okolic,nIdn,1014629">
        529
    </a>

</li>

    
    
<li class="item-list" data-name="Bohater z Pearl Harbor ustąpi miejsca Trumpowi? Ważą się losy nazwy superlotniskowca" data-moddate="2026-08-21 14:14:10 +0000 UTC">

    <a href="http://localhost:8888/news/530" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/530" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Bohater z Pearl Harbor ustąpi miejsca Trumpowi? Ważą się losy nazwy superlotniskowca
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 14:14:10 +0000 UTC">
        2026-08-21 14:14:10
    </time>
    
    <a href="https://www.rmf24.pl/fakty/swiat/news-bohater-z-pearl-harbor-ustapi-miejsca-trumpowi-waza-sie-losy,nIdn,1014625">
        530
    </a>

</li>

    
    
<li class="item-list" data-name="Radiowóz na sygnale zderzył się z Mazdą. Policjanci w szpitalu" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/515" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/515" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Radiowóz na sygnale zderzył się z Mazdą. Policjanci w szpitalu
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/regiony/poznan/news-radiowoz-na-sygnale-zderzyl-sie-z-mazda-policjanci-w-szpital,nIdn,1014627">
        515
    </a>

</li>

    
    
<li class="item-list" data-name="Atak na pracownicę MOPS-u. Agresywna kobieta zatrzymana" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/516" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/516" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Atak na pracownicę MOPS-u. Agresywna kobieta zatrzymana
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/regiony/slaskie/news-atak-na-pracownice-mops-u-agresywna-kobieta-zatrzymana,nIdn,1014623">
        516
    </a>

</li>

    
    
<li class="item-list" data-name="Maltretowany 6-latek nie żyje. Akt oskarżenia wobec 29-latka" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/517" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/517" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Maltretowany 6-latek nie żyje. Akt oskarżenia wobec 29-latka
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/regiony/lodz/news-maltretowany-6-latek-nie-zyje-akt-oskarzenia-wobec-29-latka,nIdn,1014615">
        517
    </a>

</li>

    
    
<li class="item-list" data-name="W niedzielę zmiany w organizacji ruchu w pobliżu Stadionu Śląskiego" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/518" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/518" hx-trigger="click" onclick="showPreview()" class="preview-link">
        W niedzielę zmiany w organizacji ruchu w pobliżu Stadionu Śląskiego
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/regiony/slaskie/news-w-niedziele-zmiany-w-organizacji-ruchu-w-poblizu-stadionu-sl,nIdn,1014612">
        518
    </a>

</li>

    
    
<li class="item-list" data-name="Polska w grze o produkcję amerykańskich pocisków" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/519" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/519" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Polska w grze o produkcję amerykańskich pocisków
    </a>
    
    <span>
        —
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/fakty/polska/news-polska-w-grze-o-produkcje-amerykanskich-pociskow,nIdn,1014317">
        519
    </a>

</li>

    
    
<li class="item-list" data-name="„Zastanawia mnie wrzawa”. Tusk broni Berka" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/520" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/520" hx-trigger="click" onclick="showPreview()" class="preview-link">
        „Zastanawia mnie wrzawa”. Tusk broni Berka
    </a>
    
    <span>
        —
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/fakty/polityka/news-zastanawia-mnie-wrzawa-tusk-broni-berka,nIdn,1014300">
        520
    </a>

</li>

    
    
<li class="item-list" data-name="Wątpliwości ws. kandydatury Macieja Berka do TK. Koalicjanci chcą spotkań" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/521" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/521" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Wątpliwości ws. kandydatury Macieja Berka do TK. Koalicjanci chcą spotkań
    </a>
    
    <span>
        —
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/fakty/polityka/news-watpliwosci-ws-kandydatury-macieja-berka-do-tk-koalicjanci-c,nIdn,1014271">
        521
    </a>

</li>

    
    
<li class="item-list" data-name="„Tak długo jak Ukraina walczy, jesteśmy bezpieczni”. Jarosław Wolski o zagrożeniu ze strony Rosji" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/522" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/522" hx-trigger="click" onclick="showPreview()" class="preview-link">
        „Tak długo jak Ukraina walczy, jesteśmy bezpieczni”. Jarosław Wolski o zagrożeniu ze strony Rosji
    </a>
    
    <span>
        —
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/fakty/swiat/news-tak-dlugo-jak-ukraina-walczy-jestesmy-bezpieczni-jaroslaw-wo,nIdn,1014168">
        522
    </a>

</li>

    
    
<li class="item-list" data-name="Pokazał puste plaże na Bali, „rzucił” kilka słów. Turysty skazany za złamanie Dnia Ciszy" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/523" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/523" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Pokazał puste plaże na Bali, „rzucił” kilka słów. Turysty skazany za złamanie Dnia Ciszy
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/fakty/swiat/news-pokazal-puste-plaze-na-bali-rzucil-kilka-slow-turysty-skazan,nIdn,1014613">
        523
    </a>

</li>

    
    
<li class="item-list" data-name="Polski zespół bez eliminacji w Lidze Mistrzów? Jest wielka szansa i jeden warunek" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/524" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/524" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Polski zespół bez eliminacji w Lidze Mistrzów? Jest wielka szansa i jeden warunek
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/pilka-nozna/news-polski-zespol-bez-eliminacji-w-lidze-mistrzow-jest-wielka-sz,nIdn,1014607">
        524
    </a>

</li>

    
    
<li class="item-list" data-name="Więcej niż Samantha Jones. Kim Cattrall kończy 70 lat i mówi „dość” Hollywood" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/525" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/525" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Więcej niż Samantha Jones. Kim Cattrall kończy 70 lat i mówi „dość” Hollywood
    </a>
    
    <span>
        —
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/fakty/kultura/news-wiecej-niz-samantha-jones-kim-cattrall-konczy-70-lat-i-mowi-,nIdn,1013703">
        525
    </a>

</li>

    
    
<li class="item-list" data-name="Niezwykły skok na giełdzie. Okazało się, że szczepionka daje dobre wyniki w leczeniu czerniaka" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/526" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/526" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Niezwykły skok na giełdzie. Okazało się, że szczepionka daje dobre wyniki w leczeniu czerniaka
    </a>
    
    <span>
        —
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/fakty/nauka/news-niezwykly-skok-na-gieldzie-okazalo-sie-ze-szczepionka-daje-d,nIdn,1014372">
        526
    </a>

</li>

    
    
<li class="item-list" data-name="Silesia Memoriał Kamili Skolimowskiej. Medaliści ME jadą na Diamentową Ligę do Chorzowa" data-moddate="2026-08-21 13:55:26 +0000 UTC">

    <a href="http://localhost:8888/news/527" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/527" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Silesia Memoriał Kamili Skolimowskiej. Medaliści ME jadą na Diamentową Ligę do Chorzowa
    </a>
    
    <span>
        —
    </span>
    
    <time datetime="2026-08-21 13:55:26 +0000 UTC">
        2026-08-21 13:55:26
    </time>
    
    <a href="https://www.rmf24.pl/fakty/sport/news-silesia-memorial-kamili-skolimowskiej-medalisci-me-jada-na-d,nIdn,1014108">
        527
    </a>

</li>

    
    
<li class="item-list" data-name="Niezidentyfikowane balony w Małopolsce. Mają doczepione pakunki" data-moddate="2026-05-01 10:04:53 +0000 UTC">

    <a href="http://localhost:8888/news/486" hx-boost="true" hx-target="#preview" hx-swap="innerHTML" hx-get="/news/486" hx-trigger="click" onclick="showPreview()" class="preview-link">
        Niezidentyfikowane balony w Małopolsce. Mają doczepione pakunki
    </a>
    
    <span>
        v
    </span>
    
    <time datetime="2026-05-01 10:04:53 +0000 UTC">
        2026-05-01 10:04:53
    </time>
    
    <a href="https://www.rmf24.pl/regiony/krakow/news-niezidentyfikowane-balony-w-malopolsce-maja-doczepione-pakun,nId,8080045">
        486
    </a>

</li>

    
</ol>


<dialog id="modal">
    <h1>Welcome!</h1>
    <p>Click Close or press esc to close modal</p>
    <form method="dialog">
        <button>Close</button>
    </form>
</dialog>

<article class="preview-wrapper" id="preview-section" style="display: none;">
    <section class="preview">
        <button type="button" class="primary close-btn" id="hidePreview" onclick="deletePreview()">x</button>
        <div id="preview" class=""></div>
    </section>
</article>


<div class="">

    
    
        <nav aria-label="Page navigation example" class="page navigation">
            <ul class="pagination pagination-md">
                
                
                
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            1
                        </span>
                    </li>
                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=2&amp;page_size=17">
                            2
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=3&amp;page_size=17">
                            3
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=4&amp;page_size=17">
                            4
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=5&amp;page_size=17">
                            5
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=6&amp;page_size=17">
                            6
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=7&amp;page_size=17">
                            7
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=8&amp;page_size=17">
                            8
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=9&amp;page_size=17">
                            9
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=10&amp;page_size=17">
                            10
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=11&amp;page_size=17">
                            11
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=12&amp;page_size=17">
                            12
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=13&amp;page_size=17">
                            13
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=14&amp;page_size=17">
                            14
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=15&amp;page_size=17">
                            15
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=16&amp;page_size=17">
                            16
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=17&amp;page_size=17">
                            17
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=18&amp;page_size=17">
                            18
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=19&amp;page_size=17">
                            19
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=20&amp;page_size=17">
                            20
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=21&amp;page_size=17">
                            21
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=22&amp;page_size=17">
                            22
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=23&amp;page_size=17">
                            23
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=24&amp;page_size=17">
                            24
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=25&amp;page_size=17">
                            25
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=26&amp;page_size=17">
                            26
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=27&amp;page_size=17">
                            27
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=28&amp;page_size=17">
                            28
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=29&amp;page_size=17">
                            29
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=30&amp;page_size=17">
                            30
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=31&amp;page_size=17">
                            31
                        </a>
                    </li>

                    
                
                
                    <li class="page-item">
                        <a class="page-link" href="http://localhost:8888/?page=32&amp;page_size=17">
                            32
                        </a>
                    </li>

                    
                

            </ul>
        </nav>

    



</div>


<div>
    footer
</div>













</body></html>